---
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  ClangTidy:
    Remove: "*"
Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU
  CodePatterns: None
InlayHints:
  Enabled: false
Index:
  StandardLibrary: false
SemanticTokens:
  DisabledKinds:
    - Variable
    - LocalVariable
    - StaticField
    - Parameter
    - StaticMethod
    - Function
    - Method
    - Field
    - Class
    - Interface
    - Enum
    - EnumConstant
    - Type
    - Typedef
    - Primitive
    - TemplateParameter
    - Namespace
    - Macro
    - Modifier
    - Operator
    - Bracket
    - Label
    - InactiveCode
    - Unknown
    - Concept
---
If:
  PathMatch: ".*sphy-2d/thirdparty/(bgfx|dascript)/.*"
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
---
If:
  PathMatch: ".*sphy-2d/(bitsery|concurrentqueue|spdlog|yaml-cpp)/.*"
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
---
If:
  PathMatch: ".*(thirdparty|_deps)/.*"
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
---
If:
  PathMatch: ".*build/.*"
Index:
  Background: Skip
---
If:
  PathMatch: ".*\\.vscode/.*"
Index:
  Background: Skip
